@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 58);
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

p{
  margin: 20px;
}
body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
}

form,
input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 25px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
}

form button:hover {
  background: red;
}

button{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.button-submit:hover{
    background: green;
}